.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  padding: 1rem;
  box-shadow: 10px 0 21px #898989;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between; /*Flytta brukernavnet opp til høyre, sammen med display: flex*/
  align-items: baseline; /*Får teksten på lik linje*/
}

.todo-btn {
  background-color: #4cd68a;
  padding: .5rem 1rem;
  border: 0;
  border-radius: 5px;
  font-weight: 900;
}

.main-content, .container {
  max-width: 900px;
  width: 100%;
  margin: 1rem auto;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container form label {
  font-weight: 900;
}

.main-content article {
  max-width: 250px;
  width: 100%;
  padding: 1rem;
  box-shadow: 3px 4px 7px #898989;
  border-radius: 20px;
}

input, textarea {
  border: 1px solid #000;
  padding: .5rem;
  border-radius: 10px;
}

input {
  max-width: 300px;
  width: 100%;
}

textarea {
  height: 30vh;
}

form .todo-btn {
  max-width: 100px;
}